body {
  background: url(../media/railroad.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
body h1,h2,h3,h4,h5,h6,p,label{
  color: ghostwhite;
}
label{
  color: ghostwhite;
  font-size: 20px;
}
.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.results{
  background-color: white;
  opacity: 0.9;
}
.hidden{
  overflow: hidden;
}
